/* Arquivo csv.css */

.ReactCSV {
    font-family: Arial, sans-serif;
  }
  
  /* Estilizando a tabela CSV */
  .ReactCSV table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .ReactCSV th, .ReactCSV td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .ReactCSV th {
    background-color: #f2f2f2;
  }
  
  /* Estilizando o link de download */
  .ReactCSV a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ReactCSV a:hover {
    background-color: #45a049;
  }
  