table {
    font-family: Work Sans;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  
  td,  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
   tr:nth-child(even){background-color: #f2f2f2;}
  
 tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0071BB;
    color: white;
  }
input{
  margin-left: 5px;
  width: 120px;
}
  span{

    padding: 10px;
    display: flex;
    justify-content: center;
  }